body{
  font-family:avenir;
}

.wrap{
  max-width: 640px;
  padding: 5%;
}

#menu{
  #twit{

  }
  #twat{

  }
}

#content{
  .input{

  }
  .tweets{

  }
}

#fweinds{
  .user{

  }
  .user-posts{

  }
}
